@model Item

<h1>Add new Item</h1>

<form asp-controller="Item" asp-action="Store" method="post">
	<div class="form-group">
		<label asp-for="Name">Name</label>
		<input asp-for="Name" type="text" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Description">Description</label>
		<textarea asp-for="Description" class="form-control" > </textarea>
	</div>

	<div class="form-group">
		<label asp-for="Price">Price</label>
		<input  asp-for="Price" type="number" class="form-control" />
		<span class="text-danger" asp-validation-for="Price"></span>
	</div>

	<div class="mt-2">

		<input type="submit" class="btn btn-success" value="Submit" />
		<a asp-controller="Item" asp-action="Index" class="btn btn-danger"> Cancel </a>
	</div>



</form>