@model Category


<h1>Category Details</h1>

<h5>Category name : @Model.Name</h5>

<h5>Category description : @Model.Description</h5>

<a asp-controller="Category" asp-action="Index" class="btn btn-danger">Back</a>