<h1>Hello Class, This is our first view</h1>
<p>asdddddddddddddddddd</p>

@section aboveHeader{
	<h1>hello i am new section above header</h1>
}


@section head{
	<style>
		p{
			color:red
		}
	</style>
}

@section scripts{
	<script>alert("hello team")</script>
}

<h1>testtt</h1>