@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Customer;

<h1>Hello, Please find below customer informations:</h1>
<p> The id is: @Model.Id  </p>
<p>The name is: @Model.Name   </p>
<p>The balance is: @Model.Balance</p>

<h1>tsttt</h1>
@Html.Partial("_nav");